<nav class="navbar navbar-default" role="navigation">
  <div class="container"><!-- Container to push in from sides. -->
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
    <img alt="Brand" width='20' height='20' <%= image_tag "Paw.jpg" %>
    <%= link_to "HelpingPaws", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Mission", mission_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><p><div class="centered"><a class="btn btn-default btn-sm" href="#" role="button" color="green" margin=:"10px">Log in</a></div></p></li>
      <li role="separator" class="divider"></li>
    <% end %>
      </ul>
      </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- Container to push in from sides. -->
</nav>